@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

:root,
.light,
.light-theme {
  --teal-1: #f9fefe;
  --teal-2: #f2fbfc;
  --teal-3: #dcf8fa;
  --teal-4: #c6f3f5;
  --teal-5: #b0eaee;
  --teal-6: #98dee3;
  --teal-7: #82ccd1;
  --teal-8: #6ab4b9;
  --teal-9: #174548;
  --teal-10: #2a575a;
  --teal-11: #27757a;
  --teal-12: #134144;

  --teal-a1: #00d5d506;
  --teal-a2: #00b1c50d;
  --teal-a3: #00ccdb23;
  --teal-a4: #00cad339;
  --teal-a5: #00bcc94f;
  --teal-a6: #00aeba67;
  --teal-a7: #0097a27d;
  --teal-a8: #007f8895;
  --teal-a9: #003336e8;
  --teal-a10: #00363ad5;
  --teal-a11: #005c62d8;
  --teal-a12: #003235ec;

  --teal-contrast: #fff;
  --teal-surface: #effafbcc;
  --teal-indicator: #174548;
  --teal-track: #174548;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root,
    .light,
    .light-theme {
      --teal-1: oklch(99.3% 0.0049 201.2);
      --teal-2: oklch(98.2% 0.0099 201.2);
      --teal-3: oklch(95.9% 0.0292 201.2);
      --teal-4: oklch(93.3% 0.0458 201.2);
      --teal-5: oklch(89.9% 0.0592 201.2);
      --teal-6: oklch(85.7% 0.0702 201.2);
      --teal-7: oklch(79.9% 0.0742 201.2);
      --teal-8: oklch(72.3% 0.0742 201.2);
      --teal-9: oklch(36.1% 0.0495 201.2);
      --teal-10: oklch(42.6% 0.0495 201.2);
      --teal-11: oklch(51.7% 0.0742 201.2);
      --teal-12: oklch(34.6% 0.0495 201.2);

      --teal-a1: color(display-p3 0.0196 0.8039 0.8039 / 0.02);
      --teal-a2: color(display-p3 0.0196 0.6471 0.7333 / 0.044);
      --teal-a3: color(display-p3 0.0039 0.7373 0.8039 / 0.118);
      --teal-a4: color(display-p3 0.0078 0.7333 0.7725 / 0.189);
      --teal-a5: color(display-p3 0.0039 0.6588 0.7333 / 0.263);
      --teal-a6: color(display-p3 0.0039 0.6039 0.6706 / 0.346);
      --teal-a7: color(display-p3 0.0039 0.5098 0.5686 / 0.424);
      --teal-a8: color(display-p3 0 0.4196 0.4627 / 0.518);
      --teal-a9: color(display-p3 0 0.1451 0.1608 / 0.859);
      --teal-a10: color(display-p3 0 0.1647 0.1804 / 0.793);
      --teal-a11: color(display-p3 0 0.2745 0.3059 / 0.757);
      --teal-a12: color(display-p3 0 0.1451 0.1569 / 0.875);

      --teal-contrast: #fff;
      --teal-surface: color(display-p3 0.9451 0.9804 0.9843 / 0.8);
      --teal-indicator: oklch(36.1% 0.0495 201.2);
      --teal-track: oklch(36.1% 0.0495 201.2);
    }
  }
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark,
    .dark-theme {
      --teal-1: oklch(17.8% 0.0101 201.2);
      --teal-2: oklch(21.5% 0.0139 201.2);
      --teal-3: oklch(27.3% 0.0311 201.2);
      --teal-4: oklch(31.7% 0.0449 201.2);
      --teal-5: oklch(36.2% 0.0495 201.2);
      --teal-6: oklch(41.4% 0.0538 201.2);
      --teal-7: oklch(47.3% 0.0609 201.2);
      --teal-8: oklch(53.9% 0.0714 201.2);
      --teal-9: oklch(64.9% 0.0742 201.2);
      --teal-10: oklch(60.9% 0.0742 201.2);
      --teal-11: oklch(78.9% 0.0742 201.2);
      --teal-12: oklch(90.5% 0.0594 201.2);

      --teal-a1: color(display-p3 0 0.5059 0.9412 / 0.009);
      --teal-a2: color(display-p3 0.3176 0.902 0.9882 / 0.047);
      --teal-a3: color(display-p3 0.3333 0.9333 1 / 0.118);
      --teal-a4: color(display-p3 0.2941 0.9529 0.9961 / 0.173);
      --teal-a5: color(display-p3 0.3961 0.949 1 / 0.227);
      --teal-a6: color(display-p3 0.4745 0.9608 1 / 0.29);
      --teal-a7: color(display-p3 0.5137 0.9569 1 / 0.37);
      --teal-a8: color(display-p3 0.5294 0.9608 1 / 0.458);
      --teal-a9: color(display-p3 0.6078 0.9608 0.9961 / 0.606);
      --teal-a10: color(display-p3 0.5765 0.9569 0.9961 / 0.551);
      --teal-a11: color(display-p3 0.6941 0.9686 1 / 0.79);
      --teal-a12: color(display-p3 0.7961 0.9804 1 / 0.933);

      --teal-contrast: #fff;
      --teal-surface: color(display-p3 0.0863 0.1412 0.149 / 0.5);
      --teal-indicator: oklch(64.9% 0.0742 201.2);
      --teal-track: oklch(64.9% 0.0742 201.2);
    }
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(34.6% 0.0495 201.2);
  --card: oklch(1 0 0);
  --card-foreground: oklch(34.6% 0.0495 201.2);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(34.6% 0.0495 201.2);
  --primary: oklch(36.1% 0.0495 201.2);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(72.3% 0.0742 201.2);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(98.2% 0.0099 201.2);
  --muted-foreground: oklch(51.7% 0.0742 201.2);
  --accent: oklch(95.9% 0.0292 201.2);
  --accent-foreground: oklch(36.1% 0.0495 201.2);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(93.3% 0.0458 201.2);
  --input: oklch(93.3% 0.0458 201.2);
  --ring: oklch(51.7% 0.0742 201.2);
  --chart-1: oklch(36.1% 0.0495 201.2);
  --chart-2: oklch(51.7% 0.0742 201.2);
  --chart-3: oklch(72.3% 0.0742 201.2);
  --chart-4: oklch(42.6% 0.0495 201.2);
  --chart-5: oklch(79.9% 0.0742 201.2);
  --sidebar: oklch(99.3% 0.0049 201.2);
  --sidebar-foreground: oklch(34.6% 0.0495 201.2);
  --sidebar-primary: oklch(36.1% 0.0495 201.2);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(95.9% 0.0292 201.2);
  --sidebar-accent-foreground: oklch(36.1% 0.0495 201.2);
  --sidebar-border: oklch(93.3% 0.0458 201.2);
  --sidebar-ring: oklch(51.7% 0.0742 201.2);
}

.dark {
  --background: oklch(17.8% 0.0101 201.2);
  --foreground: oklch(90.5% 0.0594 201.2);
  --card: oklch(21.5% 0.0139 201.2);
  --card-foreground: oklch(90.5% 0.0594 201.2);
  --popover: oklch(21.5% 0.0139 201.2);
  --popover-foreground: oklch(90.5% 0.0594 201.2);
  --primary: oklch(64.9% 0.0742 201.2);
  --primary-foreground: oklch(17.8% 0.0101 201.2);
  --secondary: oklch(53.9% 0.0714 201.2);
  --secondary-foreground: oklch(17.8% 0.0101 201.2);
  --muted: oklch(27.3% 0.0311 201.2);
  --muted-foreground: oklch(78.9% 0.0742 201.2);
  --accent: oklch(27.3% 0.0311 201.2);
  --accent-foreground: oklch(90.5% 0.0594 201.2);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(31.7% 0.0449 201.2);
  --input: oklch(36.2% 0.0495 201.2);
  --ring: oklch(78.9% 0.0742 201.2);
  --chart-1: oklch(64.9% 0.0742 201.2);
  --chart-2: oklch(78.9% 0.0742 201.2);
  --chart-3: oklch(53.9% 0.0714 201.2);
  --chart-4: oklch(60.9% 0.0742 201.2);
  --chart-5: oklch(47.3% 0.0609 201.2);
  --sidebar: oklch(21.5% 0.0139 201.2);
  --sidebar-foreground: oklch(90.5% 0.0594 201.2);
  --sidebar-primary: oklch(64.9% 0.0742 201.2);
  --sidebar-primary-foreground: oklch(17.8% 0.0101 201.2);
  --sidebar-accent: oklch(27.3% 0.0311 201.2);
  --sidebar-accent-foreground: oklch(90.5% 0.0594 201.2);
  --sidebar-border: oklch(31.7% 0.0449 201.2);
  --sidebar-ring: oklch(78.9% 0.0742 201.2);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
